/* Download Setion */

.ready-to-start {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  .ready-to-start-col {
    border-radius: 1rem;
    margin: 3%;
    box-sizing: border-box;

    h2 {
      font-size: 2.5rem;
      font-weight: 300;
      margin-top: 5%;
    }

    p {
      color: #585858;
      font-size: 1rem;
      font-weight: 700;
      padding-top: 0.5rem;
      padding-bottom: 2.5rem;
    }
  }
  
  /* Download End */