/* features Section */
.features {
    width: 80%;
    margin: 5% auto;
    text-align: center;
  }
  
  p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  
  .row {
    padding: auto 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .features-col {
      flex-basis: 31%;
      border-radius: 10px;
      margin: 3%;
      padding: 20px 12px;
      box-sizing: border-box;

      h3 {
        font-weight: 700;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
        text-transform: uppercase;
      }

    }
  }

  
  /* features End */