/* features Section */
.features {
    width: 80%;
    margin: 5% auto;
    text-align: center;
  }
  
  p {
    color: #777;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.2rem;
    padding: 1rem;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: auto 5rem 2rem;

    .features-col {
      // flex: 0 0 33.3333%;
      flex-basis: 20%;
      margin: 3%;
      padding: 2rem 1.2rem;
      border-radius: 1rem;
      box-sizing: border-box;

      h3 {
        font-weight: 700;
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
      }

    }
  }
  
  /* features End */