/* Footer Section */

.footer {
  position: relative;
  // background: #fff3f3;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: rgb(58, 62, 99);

  .copyright {
    position: absolute;
    bottom: 0;
    width: 100%;

    text-align: center;
    padding-top: 1rem;
    background-color: rgb(50, 52, 85);
  }
}

.social {
  flex-basis: 17%;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: white;
  border-radius: 1rem;
  margin: 3%;
  box-sizing: border-box;

  i.fab {
    color: #fff;
    border: 0.2rem solid white;
    border-radius: 0.2rem;
    margin: 1rem 0.5rem 0rem 0rem;
  }

  p {
    text-transform: none;
    font-size: 1.2rem;
    color: #c5c5c5;
  }
}

/* Footer Section End */