/* Header Seaction  */

.header {
  min-height: 80vh;
  width: 100%;
  background-image: url('../../images/header.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.navigation {
  display: flex;
  padding: 2% 0%;
  margin: auto 5%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;

  .nav-links {
    flex: 1;
    text-align: right;

    ul li {
      font-weight: 700;
      text-transform: uppercase;
      list-style: none;
      display: inline-block;
      text-decoration: none;
      color: #fff;
      padding: 0.8rem 2rem;
      position: relative;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
      }
    }
  }
}

.hamburger-menu,
.close-btn {
  width: 3rem;
  display: none;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 0.2rem;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.hero-section {
  color: #fff;
  top: 10%;
  // margin: auto 5%;
  margin: 0 auto;
  transform: translateY(25%);
  left: 0%;
  text-align: center;
  position: relative;

  h1 {
    font-size: 6.2rem;
    font-family: 'Open Sans', sans-serif;
  }

  p {
    font-weight: 500;
    margin: 3rem 0 6rem 0;
    font-size: 2rem;
    color: #fff;
  }
}

.hero-btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 0.1rem solid #f44336;
  padding: 1.2rem 6.4rem;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  background-color: #f44336;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: red;
    border: 1px solid red;
    transition: 0.5s;
  }
}

.navigation .fa {
  display: none;
}

// .fa-window-close {
//   display: none;
//   font-size: 30px;
//   padding: 5%; 
// }

/* header End */