// Colors

$primary: #f44336;
$secondary: #585858;
$red: red;
$crimson: crimson;
$gray_color_feature_section: #777;
$background_color_footer: rgb(58, 62, 99);
$white: #fff;
$gray_color_footer: #c5c5c5;
$slider_dots_color: rgba(0, 0, 0, 0.8);