* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  width: 100vw;
  height: 100vh;
}

/* Header Seaction  */

.header {
  min-height: 80vh;
  width: 100%;
  background-image: url('images/header.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 0%;
  margin: auto 5%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

nav img {
  width: 200px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 8px 20px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.header-text-box {
  /* width: 90%; */
  color: #fff;
  /* position: absolute; */
  /* top: 50%; */
  top: 30px;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  position: relative;
}

.header-text-box h1 {
  font-size: 62px;
  font-family: 'Open Sans', sans-serif;
}

.features-col>h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.header-text-box p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 30px 0 60px;
  font-size: 20px;
  color: #fff;
}

.hero-btn {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 1px solid #f44336;
  padding: 12px 64px;
  margin-bottom: 50px;
  font-size: 12px;
  background-color: #f44336;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: red;
  border: 1px solid red;
  transition: 0.5s;
}

nav .fa {
  display: none;
}

#close-button,
#menu-button {
  display: none;
}

/* header End */

/* features Section */
.features {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  padding: auto 50px 20px;
  display: flex;
  justify-content: center;
}

.features-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin: 3%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.features-col>h2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* features End */

/* Image/Works Section */
.image-section {
  margin: auto;
  text-align: center;
  min-height: 50vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.whole-row {
  margin: -5px;
  display: flex;
}

.overlay>.text {
  font-family: 'Raleway', sans-serif;
}

.overlay>.text>h3 {
  text-transform: uppercase;
}

.row-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 100%;
  max-width: 100%;
}

.column img {
  vertical-align: middle;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.container-image {
  position: relative;
  width: 100%;
}

.column>.container-image>img {
  height: 253px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: crimson;
}

.container-image:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Image/Works Section End  */

/* Team Section */

.team {
  font-family: 'Raleway', sans-serif;
  width: 50%;
  margin: auto;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.team-col {
  flex-basis: 25%;
  /* width: 100%; */
  margin-bottom: 5%;
  /* margin: auto 20px 50px; */
  box-sizing: border-box;
}

.team-col>p {
  font-family: 'Raleway', sans-serif;
}

.text-team-decor>h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 23px;
}

.text-team-decor>span {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: crimson;
  text-transform: uppercase;
}

.team-col>p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.text-team-decor>h2,
.text-team-decor>span {
  padding: 10px;
}

/* Team End */

/* Slider/Testimonials  */
.slideshow-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.slider-section {
  margin: auto;
  width: 100%;
  text-align: center;
}

.slider-row {
  width: 100%;
  display: flex;
}

.slider-col {
  flex-basis: 50%;
  box-sizing: border-box;
}

/* Slider/Testimonials End */

/* Download Setion */

.ready-to-start {
  font-family: 'Raleway', sans-serif;
  width: 80%;
  margin: auto;
  text-align: center;
}

.ready-to-start-col {
  border-radius: 10px;
  margin: 3%;
  box-sizing: border-box;
}

.ready-to-start-col>h2 {
  font-size: 25px;
  font-weight: 300;
  margin-top: 5%;
}

.ready-to-start-col>p {
  color: #585858;
  font-size: 10px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 25px;
}

/* Download End */

/* Footer Section */

.footer {
  background: #fff3f3;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: rgb(58, 62, 99);
}

.social {
  flex-basis: 17%;
  text-transform: uppercase;
  font-size: 11px;
  color: white;
  border-radius: 10px;
  margin: 3%;
  box-sizing: border-box;
}

.social>i.fab {
  color: #fff;
  border: 2px solid white;
  border-radius: 2px;
  margin: 10px 5px 0px 0px;
}

.social>p {
  font-family: 'Raleway', sans-serif;
  text-transform: none;
  font-size: 12px;
  color: #c5c5c5;
}

.social>h3 {
  font-family: 'Raleway', sans-serif;
}

.copyright {
  /* background: #fff3f3; */
  text-align: center;
  padding-top: 10px;
  background-color: rgb(50, 52, 85);
}

/* Footer Section End */

/* Responsive Design Media Queries */

@media only screen and (min-width: 480px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .column {
    flex: 25%;
    max-width: 33.3%;
    max-height: 40%;
  }
}

@media(max-width: 1024px) {

  #close-button,
  #menu-button {
    display: block;
  }

  .header-text-box h1 {
    font-size: 40px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #f44336;
    height: auto;
    width: 200px;
    top: -100vh;
    right: 0px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 15px;

  }

  .nav-links ul li {
    font-size: 10px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 8px 5px;
    position: relative;
  }

  .team {
    font-family: 'Raleway', sans-serif;
    margin: 0% auto 10% auto;
    width: 30%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
  }

  .row {
    flex-direction: column;
  }

  .whole-row {
    flex-direction: column;
  }

  .team {
    flex-direction: column;
  }

  .team-col>p {
    width: 265px;
  }

  .slider-row {
    flex-direction: column;
  }

  .image-section {
    margin: auto;
    text-align: center;
    min-height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .whole-row {
    margin: -5px;
    display: flex;
  }

  .image-col>img {
    flex-basis: 25%;
    margin: 1px;
    width: 100%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
  }
}

@media(max-width: 768px) {
  .header-text-box>h1 {
    font-size: 40px;
  }
  .team {
    font-family: 'Raleway', sans-serif;
    margin: 0% auto 10% auto;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
  }

  .team-col>p {
    width: 265px;
  }

  .team-col {
    flex-basis: 25%;
    margin-bottom: 5%;
    margin: auto 0;
    box-sizing: border-box;
  }

  .team-col>p {
    font-family: 'Raleway', sans-serif;
  }

  .text-team-decor>h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
  }

  .text-team-decor>span {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: crimson;
    text-transform: uppercase;
  }

  .team-col>p {
    font-family: 'Raleway', sans-serif;
  }

  .text-team-decor>h2,
  .text-team-decor>span {
    padding: 10px;
  }

  .slider-section>.slider-row>.carolsel-slider {
    min-width: auto;
    min-height: auto;
  }

}

@media(max-width: 480px) {
  .header-text-box>h1 {
    font-size: 20px;
  }

  .team {
    font-family: 'Raleway', sans-serif;
    /* margin: 0% auto 10% auto; */
    margin: 0 auto;
    width: auto;
  }

  .team-col {
    margin: 0 auto;
  }

  .slider-section>.slider-row>.carolsel-slider,
  .slider-col>img {
    width: auto;
    height: auto;
  }
}

@media(max-width: 320px) {
  .header-text-box {
    top: 60%;
  }

  .team-col {
    /* margin: auto 25px 50px; */
    margin: 0 auto;
  }
}
