@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Cardo', sans-serif;*/
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/*
    MAIN COLOR: #087f5b
    GREY COLOR: #343a40
*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

/* Header Seaction  */
.header {
  min-height: 80vh;
  width: 100%;
  background-image: url("../../images/header.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 0%;
  margin: auto 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
}

.navigation .nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.navigation .nav-links ul li {
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 2rem;
  position: relative;
}

.navigation .nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.hamburger-menu,
.close-btn {
  width: 3rem;
  display: none;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 0.2rem;
  background: #f44336;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero-section {
  color: #fff;
  top: 10%;
  margin: 0 auto;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  left: 0%;
  text-align: center;
  position: relative;
}

.hero-section h1 {
  font-size: 6.2rem;
  font-family: 'Open Sans', sans-serif;
}

.hero-section p {
  font-weight: 500;
  margin: 3rem 0 6rem 0;
  font-size: 2rem;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 1px solid #f44336;
  padding: 1.2rem 6.4rem;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  background-color: #f44336;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: red;
  border: 1px solid red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation .fa {
  display: none;
}

/* header End */
/* features Section */
.features {
  width: 80%;
  margin: 5% auto;
  text-align: center;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  padding: auto 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row .features-col {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  border-radius: 10px;
  margin: 3%;
  padding: 20px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row .features-col h3 {
  font-weight: 700;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

/* features End */
/* Image/Works Section */
.works-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
  margin: 5% auto;
  text-align: center;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay > .works-info > h3 {
  text-transform: uppercase;
}

.works-unit {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 100%;
}

.works-unit img {
  vertical-align: middle;
}

.works-image-container {
  position: relative;
  width: 100%;
}

.works-image-container .works-image {
  display: block;
  width: 100%;
  height: auto;
}

.works-image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.works-image-container .overlay:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: crimson;
}

.works-unit > .works-image-container > img {
  height: 253px;
}

.works-desctiption {
  color: white;
}

.works-image-container:hover .overlay {
  opacity: 0.9;
  background-color: crimson;
}

.works-info {
  width: 100%;
  color: #f2f2f2;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

/* Image/Works Section End  */
/* Team Section */
.team {
  width: 50%;
  margin: 5% auto;
  text-align: center;
  /* padding-top: 100px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-col {
  /* flex-basis: 25%; */
  /* width: 100%; */
  /* margin-bottom: 5%; */
  margin: 20px;
}

.text-team-decor h2 {
  font-weight: 300;
  font-size: 23px;
  padding: 10px;
}

.text-team-decor span {
  font-weight: 300;
  font-size: 13px;
  color: crimson;
  text-transform: uppercase;
  padding: 10px;
}

.team-col > p {
  font-size: 14px;
}

.text-team-decor > h2,
.text-team-decor > span {
  padding: 10px;
}

/* Team End */
/* Slider/Testimonials  */
.slideshow-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.slideshow-container .slider-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.slider-section {
  margin: 5% auto;
  width: 100%;
  text-align: center;
}

.slider-section .slider-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Slider/Testimonials End */
/* Download Setion */
.ready-to-start {
  width: 80%;
  margin: auto;
  text-align: center;
}

.ready-to-start-col {
  border-radius: 10px;
  margin: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ready-to-start-col h2 {
  font-size: 25px;
  font-weight: 300;
  margin-top: 5%;
}

.ready-to-start-col p {
  color: #585858;
  font-size: 10px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 25px;
}

/* Download End */
/* Footer Section */
.footer {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #3a3e63;
}

.footer .copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  background-color: #323455;
}

.social {
  -ms-flex-preferred-size: 17%;
      flex-basis: 17%;
  text-transform: uppercase;
  font-size: 11px;
  color: white;
  border-radius: 10px;
  margin: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.social i.fab {
  color: #fff;
  border: 2px solid white;
  border-radius: 2px;
  margin: 10px 5px 0px 0px;
}

.social p {
  text-transform: none;
  font-size: 12px;
  color: #c5c5c5;
}

/* Footer Section End */
/* Responsive Design Media Queries */
@media (min-width: 1440px) {
  .works-section {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 1240px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carolsel-slider {
    width: 100%;
    height: auto;
  }
  .slider-image {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 1200px) {
  .team-col {
    width: 0 auto;
  }
}

@media only screen and (min-width: 480px) {
  .works-unit {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .works-unit {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    max-width: 33.3%;
    max-height: 40%;
  }
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .team-col {
    width: 0 auto;
    margin-bottom: 10px;
  }
  .hamburger-menu {
    display: none;
  }
  .close-button {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hamburger-menu {
    display: block !important;
  }
  .close-button {
    display: block !important;
  }
  .header {
    min-height: 50vh;
  }
  .close-button {
    display: block;
    font-size: 30px;
    padding: 5%;
  }
  .team-col {
    width: 0 auto;
  }
  .hero-section h1 {
    font-size: 40px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: auto;
    width: 200px;
    top: -100vh;
    right: 0px;
    text-align: left;
    z-index: 2;
    -webkit-transition: 1s;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 15px;
  }
  .nav-links ul li {
    font-size: 10px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 8px 5px;
    position: relative;
  }
  .team {
    padding-top: 100px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team-col > p {
    max-width: 100%;
  }
  .slider-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works-section {
    margin: auto;
    text-align: center;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .works-container {
    margin: -5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .image-col > img {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin: 1px;
    width: 100%;
    margin-bottom: 5%;
    padding: 20px 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .slider-col {
    max-height: 100%;
    height: 100%;
  }
  .slider-image {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    min-height: 50vh;
  }
  .hero-section h1 {
    font-size: 30px;
  }
  .hero-section p {
    font-size: 18px;
  }
  .team {
    margin: 0% auto 10% auto;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team-col p {
    max-width: 100%;
  }
  .team-col {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin-bottom: 5%;
    margin: 50px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .text-team-decor h2 {
    font-weight: 300;
    font-size: 18px;
    padding: 10px;
  }
  .text-team-decor span {
    font-weight: 300;
    color: crimson;
    text-transform: uppercase;
    padding: 10px;
  }
  .slider-row {
    display: block;
  }
  .carolsel-slider {
    width: 100%;
    height: auto;
  }
  .slider-image {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .hero-section > h1 {
    font-size: 20px;
  }
  .team {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    width: auto;
  }
  .team-col {
    margin: 50px auto;
  }
  .slideshow-container {
    height: 300px;
  }
}

@media (max-width: 325px) {
  .hero-section {
    top: 60%;
  }
  .team-col {
    margin: 0 auto;
  }
  .carolsel-slider, .slider-image {
    width: 100%;
  }
  .slideshow-container {
    height: 300px;
  }
  .social {
    margin: 7%;
  }
}
/*# sourceMappingURL=main.css.map */